fmnist-data/
mnist-data/
analyze_gamma/
*pyc
.DS_Store
*out
*sh
*pt
*png
*xlsx
*zip
kl_split_utils.py
checks.ipynb
*numbers
analyze_gamma_fixed.ipynb
analyze_gamma_monotone.ipynb
analyze_excess_loss.ipynb
results.ipynb